# pixi environments
pixi.lock
.pixi/*
!.pixi/config.toml
data/
__pycache__/
pmssm/__pycache__/
.vscode/
plots/
logs/
active_learning_output*
active_learning_gp_output*
active_learning_exact_gp_output*
pipeline_analysis*